
        <section class="content-header">
        <h1>
            Atendimento
            <small>inicial</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <img src="~/dist/img/cadpaci.jpg" class="img-fluid" width="700" height="466" />
    </section>
